.container
	.content
		.page-header
			h1.inline-title New Run
				
		form(method='post', action='/runs')
			!=partial('runfields', { run: run, pairsOfShoes: pairsOfShoes, validationErrors: validationErrors })

			.actions
				button.btn.primary(type='submit') Submit
				| 
				a.btn(href='/runs') Cancel