.container
	.content
		.page-header
			h1.inline-title New Pair of Shoes
				
		form(method='post', action='/shoes')
			!=partial('shoefields', { shoes: shoes, validationErrors: validationErrors })

			.actions
				button.btn.primary(type='submit') Submit
				| 
				a.btn(href='/shoes') Cancel