.span3
	.well.sidebar-nav
		h4 Options
		ul
			li
				a(href='/options') Shoes

.span11
	.page-header
		h1 Shoes

	form.form-horizontal(method='post', action='/options/#{options.id}')
		input(name='_method', value='PUT', type='hidden')
		fieldset
			div(class='control-group' + (validationErrors.wearThreshold ? ' error' : ''))
				label.control-label(for='wearThreshold') Wear threshold *
				.controls
					input#wearThreshold(type='text', name='wearThreshold', class='span2', autocomplete='off', value=options.shoes.wearThreshold)
					span.unit km
					span.help-inline #{validationErrors.wearThreshold} 

		.formactions
			button.btn.btn-primary(type='submit') Save