.container
	.span10
		.page-header
			h1.inline-title New Pair of Shoes
				
		form.form-horizontal(method='post', action='/shoes')
			!=partial('shoefields', { shoes: shoes, validationErrors: validationErrors })

			.form-actions
				button.btn.btn-primary(type='submit') Submit
				| 
				a.btn(href='/shoes') Cancel